.git
.gitignore
.idea
__pycache__/
*.py[cod]

.env
docker.env
venv/
.venv/
python_runtime/

attendance/
chat_logs/
data/
homework_submissions/
logs/
rosters/
shared_files/
storage/

dist/
build/

DockerfileBase
settings.zip
