<div class="message-center-bell-anchor" data-message-center-bell-shell>
    <a
        href="/message-center"
        class="message-center-bell"
        data-message-center-bell
        title="信息中心"
        aria-label="打开信息中心"
    >
        <span class="message-center-bell__icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 17h5l-1.4-1.4A2 2 0 0 1 18 14.17V11a6 6 0 1 0-12 0v3.17a2 2 0 0 1-.6 1.42L4 17h5"></path>
                <path d="M10 17a2 2 0 0 0 4 0"></path>
            </svg>
        </span>
        <span class="message-center-bell__count" data-message-center-bell-count hidden>0</span>
    </a>
    <div class="message-center-bell-toast" data-message-center-bell-toast hidden>
        <strong class="message-center-bell-toast__title">新信息提醒</strong>
        <div class="message-center-bell-toast__body" data-message-center-bell-toast-body>你有一条新的消息。</div>
        <div class="message-center-bell-toast__meta" data-message-center-bell-toast-meta>点击铃铛进入信息中心</div>
    </div>
</div>
