{% extends "base.html" %}
{% set _lq_centered = lq_family_enabled('centered') if lq_family_enabled is defined else false %}

{% block body_class %}{% if _lq_centered %}lq-centered-page{% endif %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset_url('css/lq/pages/centered.css') }}">
{% if _lq_centered %}
<link rel="stylesheet" href="{{ asset_url('css/lq/pages/login.css') }}">
<link rel="stylesheet" href="{{ asset_url('css/lq/pages/status.css') }}">
{% endif %}
{% endblock %}

{% block body %}
    {% if _lq_centered %}<a class="lq-skip-link" href="#centered-main">跳到主要内容</a>{% endif %}
    <main class="centered-page-shell{% if _lq_centered %} lq-centered-main{% endif %}"{% if _lq_centered %} id="centered-main" data-lq-centered tabindex="-1"{% endif %}>
        {% block card_content %}{% endblock %}
    </main>
    {% include "partials/site_record_footer.html" %}
{% endblock %}

{% block scripts %}
<script type="module">
    import { showToast } from '{{ asset_url('js/ui.js') }}';
    window.showToast = showToast;
</script>
{% endblock %}
